<?xml version="1.0" encoding="utf-8"?>
<module>
	<!-- A module provides additional behavior and configuration for HaxeUI. -->
	<components>
		<class package="haxe.ui.backend.flixel.components" loadAll="true" />
		<class package="haxe.ui.components" loadAll="true" />
		<class package="haxe.ui.containers.dialogs" loadAll="true" />
		<class package="haxe.ui.containers.menus" loadAll="true" />
		<class package="haxe.ui.containers.properties" loadAll="true" />
		<class package="haxe.ui.containers" loadAll="true" />
		<class package="haxe.ui.core" loadAll="true" />
		<class package="meta.ui.components" loadAll="true" />
	</components>
</module>
